@model List<Dashboard.Models.Domain.Item>

@{
    Layout = "~/Views/Shared/_Report.cshtml";
}

<div class="table">

    <table id="myTable" class="table table-bordered table-hover table-sm">
      <thead>
         <tr>
            <th>Id</th>
            <th>Item Name</th>
            <th>Item Code</th>
            <th>Category</th>
            <th>Manufacture</th>
            <th>Brand</th>
            <th>GST</th>
            <th>Unit</th>
            <th>HSN code</th>
            <th>Batch</th>
            <th>MRP</th>
            <th>Purchase Price</th>
            <th>Landing Cost</th>
            <th>Sale Price</th>
            <th>Sales Discount</th>
            <th>Opening Quantity</th>
            <th>Rack color</th>
            <th>Color code</th>
            <th>Quantity warning</th>
            <th>IME number</th>
            <th>Manu.Date</th>
            <th>Packed Date</th>
            <th>Exp.Date</th>
            <th>Issued Date</th>
            <th>Description</th>
            <th> </th>

        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.ItemNameId</td>
                    <td>@item.ItemCodeId</td>
                    <td>@item.CategoryId</td>
                    <td>@item.ManufacturerId</td>
                    <td>@item.BrandId</td>
                    <td>@item.GSTId</td>
                    <td>@item.UnitId</td>
                    <td>@item.HSNCode</td>
                    <td>@item.BatchId</td>
                    <td>@item.MRPId</td>
                    <td>@item.PurchasePriceId</td>
                    <td>@item.LandingCostId</td>
                    <td>@item.SalePriceId</td>
                    <td>@item.SalesDiscount</td>
                    <td>@item.OpeningQuantity</td>
                    <td>@item.RackColor</td>
                    <td>@item.ColorCode</td>
                    <td>@item.QuantityWarning</td>
                    <td>@item.IMEnumber</td>
                    <td>@item.ItemManuDate</td>
                    <td>@item.ItemPackedDate</td>
                    <td>@item.ItemExpiryDate</td>
                    <td>@item.ItemIssuedDate</td>
                    <td>@item.Discription</td>
                    <td><a href="/Item/View/@item.Id">View</a></td>
                </tr>

            }
    </tbody>
 </table>
</div>
